.btn {
    border-radius: 100%;
    /* padding: 0.8rem; */
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    background-color: #000;
    font-weight: 600;
    border: none;
}

.box {
    position: relative;
    border-radius: 1rem;
    background-color: var(--gray-color-02);
    /* padding: 1.6rem 2.4rem; */
    flex: 0 0 33.33%;
    overflow: auto;
}