.movie {
    display: flex;
    gap: 2.4rem;
    padding: 1.6rem;
    align-items: center;
    border-bottom: 1px solid #4f5456;
    transition: background-color 0.3s;
}

.movie:last-child {

    border-bottom: none;
}

.movie-img img {
    width: 3.2rem;
}

.movie-title {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

.movie:hover {
    background-color: var(--gray-color-03);
    cursor: pointer;
}