.searchbar {
    flex: 0 1 35%;
    border-radius: 0.9rem;
    background-color: #f1edfc;
    font-family: serif;
    font-size: 1.8rem;
    font-style: italic;
    padding-left: 1.6rem;
    border: none;
    min-height: 3rem;

}

.searchbar:focus {
    box-shadow: inset 0 0 0 5px #a893ef;
    outline: none;
}